<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.ExtentReportListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="D:/workspaces/rest-workspace/RestAssuredFrameworkE2E/src/test/java/airline/AirlineCreationTest.java">
        <classes>
            <class name="airline.AirlineCreationTest">
                <methods>
                    <include name="createAirlineWithReusablePOSTMethodAndReusablePayloadCreationFromPOJOAndCompareResponse"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>